$primary-font: "Inter";

// social icon colors
$facebook-blue: hsl(195, 100%, 50%);
$instagram-gradient: linear-gradient(
  to right,
  hsl(37, 97%, 70%),
  hsl(329, 70%, 58%)
);
$twitter-blue: hsl(203, 89%, 53%);
$youtube-red: hsl(348, 97%, 39%);

// growth text colors
$bright-red: hsl(356, 69%, 56%);
$lime-green: hsl(163, 72%, 41%);

// light mode colors
$dark-greyish-blue: hsl(228, 12%, 44%);
$light-greyish-blue: hsl(227, 47%, 96%);
$very-dark-blue: hsl(230, 17%, 14%);
$very-pale-blue: hsl(225, 100%, 98%);
$white: hsl(0, 0%, 100%);

// dark mode colors
$dark-desaturated-blue: hsl(228, 28%, 20%);
$desaturated-blue: hsl(228, 34%, 66%);
$very-dark-blue-2: hsl(232, 19%, 15%);

// hover background colors
$hover-blue-dark: hsl(229, 24%, 27%);
$hover-blue-light: hsl(231, 30%, 91%);

// toggle button colors
$toggle-light: hsl(230, 22%, 74%);
$toggle-dark: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

:root {
  --card-bg: #{$light-greyish-blue};
  --h2-title: #{$dark-greyish-blue};
  --hover-color: #{$hover-blue-light};
  --text: #{$dark-greyish-blue};
  --title: #{$very-dark-blue};
  --top-bg: #{$very-pale-blue};
}

html[data-theme="dark"] {
  --card-bg: #{$dark-desaturated-blue};
  --h2-title: #{$white};
  --hover-color: #{$hover-blue-dark};
  --text: #{$desaturated-blue};
  --title: #{$white};
  --top-bg: #{$very-dark-blue-2};
  background: $very-dark-blue;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 420ms !important;
  transition-delay: 0 !important;
}

@media only screen and (max-width: 677px) {
  body {
    margin-left: 8% !important;
    margin-right: 8% !important;
    margin-top: 30px !important;
  }

  .top-bar {
    flex-direction: column;
  }

  .dark-mode-toggle {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .separator {
    background-color: $desaturated-blue;
    border-width: thin;
    height: 0.5px;
    margin-bottom: 15px;
    visibility: visible;
  }
}

@media only screen and (min-width: 678px) {
  .separator {
    visibility: hidden;
  }
}

a {
  color: var(--text);
}

body {
  margin-left: 11.5%;
  margin-right: 11.5%;
  margin-top: 20px;
}

h1 {
  color: var(--title);
  font-family: $primary-font;
  font-size: 24px;
  margin-bottom: 0%;
  margin-top: 5px;
}

h2 {
  color: var(--h2-title);
  font-family: $primary-font;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 25px;
}

h3 {
  color: var(--text);
  font-family: $primary-font;
  font-size: 12px;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  margin-top: 3px;
}

input[type="checkbox"] {
  height: 0;
  visibility: hidden;
  width: 0;
}

input:checked + label {
  background-image: $toggle-dark;
}

input:checked + label:after {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  left: calc(100% - 25px);
  transform: translateX(-100%);
}

label {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  background: $toggle-light;
  border-radius: 100px;
  cursor: pointer;
  height: 22px;
  position: relative;
  text-indent: -9999px;
  width: 45px;
}

label:after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: var(--card-bg);
  border-radius: 50%;
  content: "";
  height: 17px;
  left: 25px;
  position: absolute;
  top: 2.4px;
  transition: ease-in-out 200ms;
  width: 17px;
}

.attribution {
  color: var(--text);
  font-family: $primary-font;
  font-size: 12px;
  letter-spacing: 0.8px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.background {
  background-color: var(--top-bg);
  height: 215px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.card-line {
  margin-bottom: 25px;
  padding-top: 4px;
  width: 300%;

  &.facebook {
    background-color: $facebook-blue;
  }

  &.instagram {
    background-image: $instagram-gradient;
  }

  &.twitter {
    background-color: $twitter-blue;
  }

  &.youtube {
    background-color: $youtube-red;
  }
}

.dark-mode-toggle {
  align-items: center;
  color: var(--text);
  display: flex;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 700;
}

.main-card {
  align-items: center;
  background-color: var(--card-bg);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-family: $primary-font;
  flex: 1 1 auto;
  flex-direction: column;
  height: 180px;
  margin: 0 10px 15px;
  overflow: hidden;
  padding: 0 0 14px;

  .account {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
  }

  .account-name {
    color: var(--text);
    font-size: 10px;
    font-weight: 700;
    margin-left: 10%;
  }

  .description {
    color: var(--text);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 25px;
    margin-right: -2px;
    text-align: center;
    text-transform: uppercase;
  }

  .growth {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .growth-text {
    font-size: 10.5px;
    font-weight: 700;
    margin-left: 6px;

    &.up {
      color: $lime-green;
    }

    &.down {
      color: $bright-red;
    }
  }

  .main-number {
    color: var(--title);
    font-size: 48px;
    font-weight: 700;
    margin: 15px 0 0;
    text-align: center;
    width: 200px;
  }

  .social-icon {
    height: 20px;
    width: 20px;
  }
}

.main-card:hover {
  background-color: var(--hover-color);
  transition: background-color 0.2s ease-in-out;
}

.main-card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% -10px 0;
}

.overview-card {
  background-color: var(--card-bg);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-family: $primary-font;
  flex: 1 1 170px;
  flex-direction: column;
  height: 105px;
  justify-content: space-around;
  margin: 0 10px 20px;
  overflow: hidden;
  padding: 7px 25px 0;
  transition: background-color 0.2s ease-in-out;

  .account {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-info {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -10px;
  }

  .description {
    color: var(--text);
    font-size: 12px;
    font-weight: 700;
  }

  .growth {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .growth-text {
    font-size: 12px;
    font-weight: 700;
    margin-left: 5px;

    &.up {
      color: $lime-green;
    }

    &.down {
      color: $bright-red;
    }
  }

  .main-number {
    color: var(--title);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .social-icon {
    height: 18px;
    width: 18px;
  }

  .top-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.overview-card:hover {
  background-color: var(--hover-color);
  transition: background-color 0.2s ease-in-out;
}

.overview-card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% -10px 20px;
}

.title {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}
